<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simple Sidebar - Login</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <h2>VIBE MUSIC</h2>
        </div>
    </section>

    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>WELCOME VIBE MUSIC PAGE</h3>
                        <div class="login-form">
                            <form id="registerForm" action="/member/login" method="post">
                                <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" name="username" class="form-control" placeholder="USER ID">
                                </div>
                                <div class="form-group">
                                    <label>PASSWORD</label>
                                    <input type="password" name="password" class="form-control" placeholder="PASSWORD">
                                </div>
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" name="remember-me">
                                    <label class="form-check-label">
                                        자동 로그인
                                    </label>
                                </div>
                                <button type="submit" class="btn oneMusic-btn submitBtn">LOGIN</button>
                                <button type="button" class="btn oneMusic-buy-now-area joinBtn">REGISTER</button>
                            </form>
                            <div>
                                <a href="/oauth2/authorization/kakao">
                                    카카오톡으로 로그인
                                </a>
                                <br>
                                <a href="/oauth2/authorization/google">구글로 로그인 하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
0    </section>
</div>

</body>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".joinBtn").addEventListener("click", function (e){
        e.preventDefault();
        const formObj = document.querySelector("#registerForm")

        formObj.action = `/member/join`
        formObj.method = 'get'
        formObj.submit()
    }, false)
</script>
</html>