<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="utf-8"/>
    <title>Chart</title>
</head>
<body>

<!-- ##### Miscellaneous Area Start ##### -->
<div layout:fragment="content">
  <section class="miscellaneous-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- ***** Weeks Top ***** -->
        <div class="col-12 col-lg-4">
          <div class="weeks-top-area mb-100">
            <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
              <!-- Use the #messages utility to translate and format the day name -->
              <h2 th:text="${translatedMessage}"></h2>
            </div>
          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms" th:each="music : ${recommendedMusic}">
            <div class="thumbnail">
              <a th:href="|@{/read(no=${music.no})}|">
                <img th:src="${music.m_image}">
              </a>
            </div>
            <div class="content-">
              <a th:href="|@{/read(no=${music.no})}|">
                <h5 th:text="${music.m_title}"></h5>
              </a>
              <p th:text="${music.m_artist}"></p>
            </div>
          </div>
        </div>
      </div>



<!--      &lt;!&ndash; ***** New Hits Songs ***** &ndash;&gt;-->
<!--      <div class="col-12 col-lg-4">-->
<!--        <div class="new-hits-area mb-100">-->
<!--          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">-->
<!--            <p></p>-->
<!--            <h2>시대별 인기 차트</h2>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"-->
<!--               data-wow-delay="100ms" th:each="dto:${responseDTO.dtoList}">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <a th:href="|@{/read(no=${dto.no})}|">-->
<!--                  <img th:src="${dto.m_image}">-->
<!--                </a>-->
<!--              </div>-->


<!--              <div class="content-">-->
<!--                <a th:href="|@{/read(no=${dto.no})}|">-->
<!--                  <h5 th:text="${dto.m_title}"></h5>-->
<!--                </a>-->
<!--                <p th:text="${dto.m_artist}"></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      &lt;!&ndash; ***** Popular Artists ***** &ndash;&gt;-->
<!--      <div class="col-12 col-lg-4">-->
<!--        <div class="popular-artists-area mb-100">-->
<!--          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">-->
<!--            <p></p>-->
<!--            <h2>xxx님을 위한 추천 곡 (playlist 안에 노래 기반으로 가장 많은 장르로 추천)</h2>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Artist &ndash;&gt;-->
<!--          <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms" th:each="dto:${responseDTO.dtoList}">-->
<!--            <div class="thumbnail">-->
<!--              <a th:href="|@{/read(no=${dto.no})}|">-->
<!--                <img th:src="${dto.m_image}">-->
<!--              </a>-->
<!--            </div>-->


<!--            <div class="content-">-->
<!--              <a th:href="|@{/read(no=${dto.no})}|">-->
<!--                <h5 th:text="${dto.m_title}"></h5>-->
<!--              </a>-->
<!--              <p th:text="${dto.m_artist}"></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--</div>-->




</body>
</html>