<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">


</head>

<body>
<div layout:fragment="content">

</div>
</body>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const num = target.getAttribute("data-num");
        const formObj = document.querySelector("form");

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;
        formObj.submit();

    }, false);

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        self.location = '/event';
    }, false);

    //show modal
    const result = [[${result}]];
    const modal = new bootstrap.Modal(document.querySelector(".modal"));

    if (result) {
        const modalContent = document.getElementById("modalContent");

        modalContent.textContent = result + "번 등록 성공";
        modal.show();
    }

</script>

</html>