<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div layout:fragment="content">


    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-.ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Look at My Music Lists</p>
            <h2>PlayLists for '<span th:text="${#authentication.principal.username}"></span>'</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- PlayList Start -->

    <p></p>
    <div class="col-12 col-lg-4" th:each="playlist : ${playlists}">
        <div class="new-hits-area mb-100">
            <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                <p>PlayList Name</p>
                <h2><span th:text="${playlist.plName}"></span></h2>
            </div>

            <!-- Songs in PlayList Start-->
            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms" th:each="music : ${playlist.musics}">
                <div class="first-part d-flex align-items-center">
                    <div class="thumbnail">
                        <img th:src="${music.m_image}">
                    </div>
                    <div class="content-">
                        <p><span th:text="${music.m_title}"></span></p>
                        <p><span th:text="${music.m_artist}"></span></p>
                    </div>
                </div>
                <audio preload="auto" controls>
                    <source th:src="${music.m_sound}">
                </audio>
            </div>
            <!-- Songs in PlayList End-->
        </div>
    </div>
    <!-- PlayList End -->


</div>

</body>

</html>
