<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>One Music - Modern Music HTML5 Template</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div layout:fragment="content">
  <form action="/newsRead" method="get">


    <!-- Preloader 바보바보 -->
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="lds-.ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>


    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
      <div class="bradcumbContent">
        <p>Look at My Music Lists</p>
        <h2>PlayLists for '<span th:text="${#authentication.principal.username}"></span>'</h2>
      </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- PlayList 테이블 -->

    <table>
      <tr>
        <th>PlayList No</th>
        <th>PlayList Name</th>
        <th>Member ID</th>
      </tr>
      <tr th:each="playList : ${playLists}">
        <td th:text="${playList.plNo}"></td>
        <td th:text="${playList.plName}"></td>
        <td th:text="${playList.member.mid}"></td>
      </tr>
    </table>



  </form>
</div>
</body>

</html>