<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div layout:fragment="content">

    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Music Detail</p>
            <h2>[[${dto.m_title}]]</h2>
        </div>
    </section>

    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
             style="background-image: url(img/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img th:src="${dto.m_image}">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>See Music Detail</p>
                            <h2>PLAY THIS MUSIC</h2>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p th:text="${dto.m_title}"></p>
                            </div>
                            <audio preload="auto" controls>
                                <source th:src="${dto.m_sound}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <table style="display: inline-block">
        <tr>
            <td>
                <img th:src="${dto.m_image}">
            </td>
        </tr>
    </table>
    <table style="display: inline-block">
        <tr>
            <td>Title</td>
            <td>Artist</td>
            <td>Release Date</td>
            <td>PlayTime</td>
            <td>Views</td>
        </tr>
        <tr>
            <td th:text="${dto.m_title}"></td>
            <td th:text="${dto.m_artist}"></td>
            <td th:text="${dto.rDate}"></td>
            <td th:text="${dto.m_playtime}"></td>
            <td th:text="${dto.m_playCount}"></td>
        </tr>
    </table>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">댓글 추가</button>
            </div>
            <ul class="list-group replyList">
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination replyPaging">
            </ul>
        </div>
    </div>

    <script src="http://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/reply.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">

    const no = [[${dto.no}]]

    console.log(no);

    const replyList = document.querySelector('.replyList')
    const replyPaging = document.querySelector('.replyPaging')

    function printList(dtoList) {
        let str = '';

        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                str += `<li class="list-group-item d-flex replyItem">` +
                    `<span class="col-2">${dto.rno}</span>` +
                    `<span class="col-6" data-rno="${dto.rno}">${dto.r_replyText}</span>` +
                    `<span class="col-2">${dto.rreplyer}</span>` +
                    `<span class="col-2">${dto.regDate}</span> ` +
                    `</li>`
            }
        }
        replyList.innerHTML = str;
    }

    function printPages(data){
        let pageStr = '';

        if(data.prev){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++){
            pageStr += `<li class="page-item ${i == data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if(data.next){
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">NEXT</a></li>`
        }
        replyPaging.innerHTML = pageStr;
    }

    function printReplies(page, size, goLast) {
        getList({no, page, size, goLast}).then(
            data => {
                printList(data.dtoList)
                printPages(data)
            }
        ).catch(e => {
            console.error(e);
        })
    }

    printReplies(1, 10)

</script>

</body>
</html>